#couriers_msg
  .notify
  .warning

%table#courier_list
  %tr.table_header
    %th 
      Number
    %th 
      Name    
    %th
      Type
    %th 
      ETA              
    %th
      Rating
    %th
      Price
    
    - Courier.available.each do |courier|
      %tr{:class => "courier_item #{cycle("even", "odd")}"}
        %td.number
          = courier.number
        %td 
          = courier.name
        %td 
          = courier.type
        %td 
          = courier.eta
        %td 
          = courier.rating
        %td 
          = courier.price 
