- content_for :meta do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
  = javascript_include_tag "application"  
  = javascript_include_tag  "geo-autocomplete/geo_autocomplete.js", "geo-autocomplete/jquery.autocomplete_geomod.js"
  = javascript_include_tag  'geo-autocomplete/jquery-ui-1.8.5.custom.min.js', 'autocomplete-rails.js'
  = stylesheet_link_tag     'jquery-ui-1.8.5.custom.css', "jquery.autocomplete.css"  
  = geo_autocomplete_for :order_booking_pickup_address_street, :order_booking_dropoff_address_street
  = center_map_on_your_location

%h2 Booking

#map-canvas-auto

#booking_form.left
  = semantic_form_for @booking do |booking_form|
    %fieldset 
      %b Pick-up
      = booking_form.semantic_fields_for :pickup_address do |pickup_form| 
        = pickup_form.inputs do
          = pickup_form.input :street
          = pickup_form.semantic_fields_for :name do |name_form| 
            = name_form.input :first_name
            = name_form.input :last_name 
          = pickup_form.semantic_fields_for :contact_info do |contact_form| 
            = contact_form.input :phone
            = contact_form.input :email
          
    %fieldset 
      %b Dropoff
      = booking_form.semantic_fields_for :dropoff_address do |dropoff_form| 
        = dropoff_form.inputs do
          = dropoff_form.input :street
          = dropoff_form.semantic_fields_for :name do |name_form| 
            = name_form.input :first_name
            = name_form.input :last_name
          = dropoff_form.semantic_fields_for :contact_info do |contact_form| 
            = contact_form.input :phone
            = contact_form.input :email

#courier_map.right     
  %h3 
    Map of courier locations
  #couriers
    #map-canvas
  = render :partial => 'order/bookings/couriers/available', :locals => {:couriers => @available_couriers}