%h3 Choose your pick-up and drop-off locations
= semantic_form_for @quote do |f|
  = f.inputs do
    = f.input :pickup_point
    = f.input :dropoff_point
    = f.input :vehicle, :as => :radio, :collection => Courier::Vehicle.available_types
  = f.buttons do
    = f.commit_button :quote
