#header
  .logo
    %a{:href => '/'}
      = image_tag "logo.png"
  .benefits_nav
    %ul          
      %li= link_to "benefits for couriers", couriers_info_path
      %li= link_to "benefits for business", businesses_info_path
      %li= link_to "benefits for private", private_info_path
  .login_small
    = render 'cream/menu/login_items'
    %ul
      %li= link_to "Register", registrations_path
    = semantic_form_for current_user do |user_form|
      / = user_form.input :language, :as => :language, :priority_languages => ['German'], :include_blank => 'Choose language'
      = user_form.input :language, :as => :language, :priority_languages => ['German'], :include_blank => 'Choose language', :only => ['de', 'en']
      = user_form.input :city, :as => :select, :collection => City.available, :include_blank => 'Choose city'