#footer
  %ul
    %li 
      tiramizoo
      %ul
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    %li
      join us
      %ul
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    %li
      faq
      %ul
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    %li
      terms & conditions
      %ul
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    %li
      follow us
      %ul
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"