#header
  .logo
    %a{:href => '/'}
      = img "logo.png"
  .benefits_nav
    %ul
      %li= link_to "benefits for couriers", "#"
      %li= link_to "benefits for business", "#"
      %li= link_to "benefits for private", "#"      
  .login_small
    %form
      small loginform
    %ul
      %li= link_to "Log-in", "#"
      %li= link_to "Register", "#"
    %form
      language switch
