h3 Available vehicles 
= f.input :bicycle, :as => :boolean
= f.input :cargo_bike, :as => :boolean
= f.input :motor_bike, :as => :boolean, :label => 'Motorcycle/Scooter'
= f.input :car, :as => :boolean
= f.input :van, :as => :boolean

