!!!
%html
  = render 'shared/html_header'
  %body.two-col.bp
    #container.showgrid
      = render 'shared/header'
      #wrapper{:class => "#{controller.controller_name} #{controller.action_name}"} 
      = yield
      = render 'shared/footer'