!!!
%html
  = render 'shared/html_header'
  %body.bp
    #logo
      %a{:href => '/'}
        = image_tag "logo.png"
    #container-wrapper    
      #container-top
        = render 'shared/header'
        #maincontent{:class => get_class}
          = yield
      #container-bottom
        = render 'shared/footer'
