!!!
%html
  = render 'shared/html_header'
  %body.bp
    #logo
      %a{:href => '/'}
        = img "logo.png"
    #container-top
      = render 'shared/header'
      #maincontent
        = yield
    #container-bottom
      = render 'shared/footer'